.task {
	display: flex;
}

.task .summary {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

img.avatar {
	height: 35px;
	width: 35px;
}	

.board {
	border-collapse: collapse;
}

.board td,th{
	padding-right: 20px;
	border: 1px solid black;
}